<%- include('template/header') %>
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Un espace pour la decouverte du monde de la programmation</h1>
          <span class="subheading">Python / C++ / java / javascript / HTML / CSS <br> sur un seul site</span>
          <!-- <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span> -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> <%= content %> </p>
      </div>
    </div>
  </div>
</article>

<hr>
<%- include('template/footer') %>